<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="/">
    </a>
    
  </div>
  <div class="uk-navbar-right">
    <button class="uk-button uk-button-danger">Logout</button>
  </div>
</nav>

<div class="uk-container uk-container-small uk-section">
  <div>
    <img alt="UIkit 3" src="/images/logo_transparent_f.png" width="180"
      class="uk-margin-bottom">
  </div>

  <hr>
 
  <a href="https://github.com/zzseba78/Kick-Off" target="_blank"
    class="uk-button uk-button-primary uk-button-large uk-margin"><span uk-icon="bolt"></span> GENERATE API KEY
  </a>
</div>