<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" id="logo" href="/">
    </a>

  </div>
  <div class="uk-navbar-right">
    <form action="/logout" method="POST" style="margin-block-end: 0;">
      <button class="uk-button uk-button-danger uk-margin-right">Logout</button>
    </form>
  </div>
</nav>

<div class="uk-container uk-container-small uk-section">
  <div>
    <img alt="UIkit 3" src="/images/logo_transparent_f.png" width="180" class="uk-margin-bottom">
  </div>
  <hr>

  <div class="uk-container" uk-grid>
    <div class="server" ukgrid>
      <form class="uk-form-horizontal uk-margin-large">
        <h3>Host Info</h3>
        <div class="uk-margin">
          <label class="uk-form-label" for="hostname">NAME:</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="hostname" type="text" placeholder="" disabled>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="platform">PLATFORM:</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="platform" type="text" placeholder="" disabled>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="arch">API KEY:</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="arch" type="text" placeholder="" disabled>
          </div>
        </div>
          <button onclick="generateCode(event)" class="uk-button uk-button-primary uk-button-large"><span
              uk-icon="bolt"></span> GENERATE API KEY
          </button>
      </form>
    </div>
    <div class="qrCode" uk-grid>
      <div>

        <img src="/images/qr.png" alt="qr" uk-img style="max-width: 240;">
      </div>
    </div>

    <script>
      function generateCode(evt) {
        evt.preventDefault();
        fetch('/code', {
            method: "POST"
          })
          .then(function (response) {
            console.log(response)
          })

      }
    </script>