<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <script src="/assets/js/jquery.min.js"></script>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="/assets/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="/assets/js/uikit.min.js"></script>
  <script src="/assets/js/uikit-icons.min.js"></script>
  <link rel="icon" href="/assets/images/favicon.png">
  <title>nitr agent</title>
</head>

<body>
  {{{content}}}
</body>
<script src="/assets/js/clipboard.min.js"></script>
<script src="/assets/js/panel.js"></script>
<script src="/assets/js/password.js"></script>
<script>
  $("#hostname").val("{{{host}}}");
  $("#platform").val("{{{platform}}}" + "/" + "{{{arch}}}");
  $("#key").val("{{{apikey}}}")
  $("#qr").removeAttr("src").attr("src", "data:image/png;base64, " + "{{{qrCode}}}");
</script>

</html>