<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/qrcode.min.js"></script>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="/assets/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="/assets/js/uikit.min.js"></script>
  <script src="/assets/js/uikit-icons.min.js"></script>
  <link rel="icon" href="/assets/images/favicon.png">
  <title>Nitr</title>
</head>

<body>
  {{{content}}}
  <div class="uk-position-bottom-center uk-position-small uk-visible@m uk-position-z-index">
		<span class="uk-text-small uk-text-muted">© <span id="year"></span> | Bit Cavalier  <a href="https://github.com/bitcav/nitr"><span uk-icon="icon: github;"></a> </span>
    </span>
	</div>
</body>
<script src="/assets/js/clipboard.min.js"></script>
<script src="/assets/js/panel.js"></script>
<script src="/assets/js/password.js"></script>
<script>
  $("#hostname").val("{{{host}}}");
  $("#platform").val("{{{platform}}}" + "/" + "{{{arch}}}");
  $("#key").val("{{{apikey}}}")
  $("#ip").val("{{{ip}}}")
  $("#port").val("{{{port}}}")

  var d = new Date();
  var n = d.getFullYear();
  document.getElementById("year").innerHTML = n;
</script>
<script>
</script>

</html>