<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" id="logo" href="/">
    </a>

  </div>
  <div class="uk-navbar-right">
    <form action="/logout" method="POST" style="margin-block-end: 0;">
      <button class="uk-button uk-button-danger uk-margin-right">Logout</button>
    </form>
  </div>
</nav>

<div class="uk-container uk-container-small uk-section">
  <div>
    <img alt="nitr logo" src="/logo" width="180" class="uk-margin-bottom">
  </div>
  <hr>
  <div class="uk-container" uk-grid>
    <div class="server" ukgrid>
      <form class="uk-form-horizontal uk-margin-large">
        <h3>Host Info</h3>
        <div class="uk-margin">
          <label class="uk-form-label" for="hostname">NAME:</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="hostname" type="text" placeholder="" disabled>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="platform">PLATFORM:</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="platform" type="text" placeholder="" disabled>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="key">API KEY:</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="key" type="text" placeholder="" disabled>
          </div>
        </div>
        <button id="genBtn" class="uk-button uk-button-primary uk-button-large">
          GENERATE
          API KEY
        </button>
      </form>
    </div>
    <div class="qrCode" uk-grid>
      <div>
        <img id="qr" src="" alt="qr" uk-img style="max-width: 240;">
      </div>
    </div>

    <script>
      $(document).ready(function () {
        if ($('#qr').attr("src") === "data:image/png;base64, ") {
          $('#qr').hide();
        }

        $('#genBtn').click(function (e) {
          e.preventDefault();
          fetch('/code', {
              method: "POST"
            })
            .then(function (response) {
              return response.json();
            })
            .then(function (data) {
              $("#key").val(data.key)
              var d = new Date();
              $("#qr").removeAttr("src")
                .attr("src", "data:image/png;base64, " + data.qrCode)
                .show();
              UIkit.notification({
                message: 'restart the nitr-agent service to apply these changes',
                status: 'danger',
                pos: 'bottom-center',
                timeout: 5000
              });

            });
          var btn = $(this);
          btn.prop('disabled', true)
            .attr("uk-spinner", true)
          setTimeout(function () {
            btn.prop('disabled', false)
              .removeAttr("uk-spinner")
          }, 500);
        });
      })

    </script>