<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" id="logo" href="/"></a>
  </div>
  <div class="uk-navbar-right">
    <a href="/panel" class="uk-button uk-button-secondary uk-margin-right">Panel</a>
    <form action="/logout" method="POST" style="margin-block-end: 0;">
      <button class="uk-button uk-button-danger uk-margin-right">Logout</button>
    </form>
  </div>
</nav>

<div class="uk-container uk-container-small">
  <div>
    <img alt="nitr logo" src="/assets/images/logo.png" width="160" class="uk-margin-small-bottom">
  </div>
  <hr>
  <div class="uk-container" uk-grid>
    <div class="server" ukgrid>
      <form class="uk-form-horizontal uk-margin-large" id="passwordForm">
        <h4>Change Password</h4>
        <div class="uk-margin">
          <label class="uk-form-label" for="current-password">CURRENT PASSWORD:</label>
          <div class="uk-form-controls">
            <input class="uk-input" name="currentPassword" id="current-password" type="password" placeholder=""
              autofocus>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="new-password">NEW PASSWORD:</label>
          <div class="uk-form-controls">
            <input class="uk-input" name="newPassword" id="new-password" type="password" placeholder="">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="repeat-new-password">REPEATE NEW PASSWORD:</label>
          <div class="uk-form-controls">
            <input class="uk-input" name="repeatRewPassword" id="repeat-new-password" type="password" placeholder="">
          </div>
        </div>
        <button id="saveBtn" class="uk-button uk-button-primary uk-button-large" disabled>
          SAVE
        </button>
      </form>
    </div>
  </div>
</div>